<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Phonebook Contacts</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/bootstrap.min.css" />
  <style type="text/css" media="screen">
    body{
        padding-top:60px;
    }
  </style>
</head>

<body>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" >Phonebook Contacts!</a>
            </div>
        </div>
    </div>
    
    <div class="container">
        <div class="row">
            <div class="span12">
                <div id="content">
                    
                </div>
            </div>
        </div>
    </div>
  <script src="js/jquery-1.7.2.min.js"></script>
  <script src="js/underscore-min.js"></script>
  <script src="js/backbone-min.js"></script>
  
  <!-- Data Mockups-->
  

  <!-- Templates -->

  <script type="text/template" id="tpl-contact-list-item">
    <a href='#contact/<%= _id %>'><%= firstname %> <%= lastname %></a>
  </script>

  <script type="text/template" id="tpl-contact-detail">
    <%= firstname %> <%= lastname %>
  </script>
  
  <!-- Application Logic -->
  <script src="js/main.js"></script>

  </body>
</html>
